.container {
  width: 98%;
  height: 60vh;
  background-color: white;
  padding: 30px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.admin {
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.admin h1 {
  margin-top: 100em;
  font-size: 32px;
  font-weight: 700;
  margin: 1em 0;
  color: black;
}

.tab_box {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid rgb(229, 229, 229);
  position: relative;
}

.tab_box .tab_btn {
  font-size: 18px;
  font-weight: 600;
  color: #919191;
  background: none;
  border: none;
  padding: 18px;
  cursor: pointer;
}

.tab_box .tab_btn.active {
  color: #7360ff;
}

.context_box {
  padding: 20px;
}

.context_box .card {
  display: none;
  animation: moving 0.5s ease;
  color: black;
}

@keyframes moving {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.context_box .card.active {
  display: block;
}

.context_box .card h2 {
  margin-bottom: 10px;
}

.line {
  position: absolute;
  top: 58px;
  left: 14%;
  width: 84.5px;
  height: 5px;
  background: #7360ff;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
