body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: white;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: 70px;
  background-color: rgb(24, 95, 153);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}
.corpo {
  background-color: #ededed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px; 
  padding-bottom: 70px; 
}

.menu ul li {
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
}

.icon {
  font-size: 36px !important;
  cursor: pointer;
}

.perfil {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.conta {
  font-size: 36px !important;
}
.abaixar {
  font-size: 24px !important;
}

.rodape {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #185f99;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border: none;
  box-shadow: none;
  z-index: 1000;
}



.rodape::before,
.rodape::after {
  content: none !important;
  display: none !important;
  border: none !important;
  box-shadow: none !important;
}

.main, .corpo {
  padding-bottom: 80px; 
}


.boletim {
    width: 800px;
    height: 400px;
    margin: 20px auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: black;
    text-align: center;
}

.boletim td {
    border: 1px solid #d0d0d0;
    padding: 8px;
}
.boletim tr:hover{
    background-color: rgb(231, 231, 231);
}

.aprovado {
    color: green;
    font-weight: bold;
}

.reprovado {
    color: red;
    font-weight: bold;
}
.title{
    background-color: #185f99;
    color: white;
    padding: 8px;
    border: 1px solid white
}
.materia{
    font-weight: bold;
}

.voltar {
    margin-top: 12px;
    padding: 6px 16px;
    background-color: rgb(247, 79, 79);
   border-radius: 5px;
   border: 2px solid black;
    cursor: pointer;
    border-radius: 4px;
     width: 200px;
    height: 50px;
    font-size: 16px;
    transition: transform 0.25s ease, background-color 0.25s ease;
}

.voltar:hover {
    transform: scale(1.03);
    background-color: red;
   
}